[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://GitHub.com/cntrump/hugo-notepadium.git
[submodule "themes/themes/hugo-theme-stack"]
	path = themes/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
